{% extends 'base.html.twig' %}

{% block title %}Edit Chuckle{% endblock %}

{% block body %}
    <h1>Edit Chuckle</h1>

    {{ include('chuckle/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_chuckle_index') }}">back to list</a>

    {{ include('chuckle/_delete_form.html.twig') }}
{% endblock %}
