{{ form_start(form, { action: path('app_chuckle_new') }) }}
    <div class="row send-chuckle align-items-center">
        <div class="col-auto">
            <div class="chuckle-author">
                <img src="https://i.pravatar.cc/150?u={{ app.user.id }}" class="img-fluid rounded-circle"/>
            </div>
        </div>
        <div class="col">
            {{ form_widget(form.message) }}
        </div>
        <div class="col-auto">
            <button class="btn btn-primary">Send</button>
        </div>
    </div>
{{ form_end(form) }}
